# [impl->dsn~package-icon-declaration~1]
[Desktop Entry]
Type=Application
Name=OpenFastTrace
Comment=Requirement tracing suite for agile projects
Exec=oft
Icon=org.itsallcode.openfasttrace
Terminal=true
Categories=Development;
Keywords=tracing;requirements;agile;
