Source: openfasttrace
Section: misc
Priority: optional
Maintainer: itsallcode.org <maintainers@itsallcode.org>
# [impl->dsn~build-tools~1]
Build-Depends: debhelper-compat (= 13), openjdk-17-jdk-headless, maven, pandoc, appstream
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/itsallcode/openfasttrace
Vcs-Browser: https://github.com/itsallcode/itsallcode-apt-repository
Vcs-Git: https://github.com/itsallcode/itsallcode-apt-repository.git

Package: openfasttrace
Architecture: all
# [impl->dsn~binary-dependencies~1]
Depends: ${misc:Depends}, openjdk-17-jre-headless
Description: Requirement tracing suite
 OpenFastTrace (OFT) is a requirement tracing suite. Requirement tracing
 keeps track of whether you actually implemented everything you planned to
 in your specifications. It also identifies obsolete parts of your product
 and helps you to get rid of them.
