Source: openfasttrace
Section: misc
Priority: optional
Maintainer: Sebastian Bär <sebastian@baer.zone>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/itsallcode/openfasttrace
Vcs-Browser: https://github.com/itsallcode/openfasttrace-debian-package
Vcs-Git: https://github.com/itsallcode/openfasttrace-debian-package.git

Package: openfasttrace
Architecture: all
Depends: ${misc:Depends}, openjdk-17-jre-headless
Description: Requirement tracing suite for agile projects
 OpenFastTrace (OFT) is a requirement tracing suite. It helps developers and project managers track requirements throughout the software development lifecycle.
